# prerequisites
*.d

# compiled object files
*.slo
*.lo
*.o
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dylib
*.dll

# fortran module files
*.mod
*.smod

# compiled static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app

# build
build
host
dist
external

# custom
.vscode
CMakeUserPresets.json
conan_imports_manifest.txt
